[user]
name = asapoka
email = asapoka@outlook.com
[core]
editor = code --wait
excludesfile = /Users/yosuke/.gitignore_global
[color]
branch = auto
diff = auto
grep = auto
interactive = auto
status = auto
ui = auto
[grep]
lineNumbers = true
[color "branch"]
current = yellow reverse
local = yellow
remote = green
[color "diff"]
meta = yellow bold
frag = magenta bold # line info
old = red           # deletions
new = green         # additions
[color "status"]
added = yellow
changed = green
untracked = cyan
[ghq]
root = ~/ghq
